.zad1 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    position: relative;
}

.box {
    border: 3px solid green;
    background-color: greenyellow;
    border-radius: .5em;
    padding: 10px;
    cursor: move;
}

.box.over {
    border: 3px dotted red;
}

#canva {
    border: 3px solid green;
    height: 60%;
    position: absolute;
    width: 80%;
}

#create {
    position: absolute;
    width: 80%;
}